.favorites-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favorites-head > button {
    border: 1px solid var(--subMain);
    background: var(--main);
    color: white;
    padding: .5rem 1rem;
    border-radius: .1rem;
    cursor: pointer;
    transition: .2s linear;
}

.favorites-head > button:hover{
    background: var(--subMain);
}