.login-main-container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-container {
	border: 1px solid var(--border);
	background: var(--dry);
	width: 35%;
	padding: 2.5rem 2rem;
	border-radius: 0.3rem;
	display: flex;
	flex-direction: column;
}
.login-brand {
	align-self: center;
	width: 20%;
}

.login-brand > img {
	width: 100%;
}
.login-form {
	display: flex;
	flex-direction: column;
}

.login-form > label {
	color: var(--text);
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	display: block;
}
.login-form > input {
	border: 1px solid var(--border);
	background: var(--main);
	color: white;
	padding: 0.8rem;
	border-radius: 0.3rem;
	margin-bottom: 1.5rem;
	outline: none;
}
.login-form > button {
	background: var(--subMain);
	border-radius: 0.3rem;
	border: none;
	padding: 0.8rem;
	color: white;
	font-weight: 600;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	gap: 0.5rem;
	width: 100%;
}
.login-form > button > span {
	display: flex;
}

.signup-text {
	align-self: center;
	margin-top: 1.5rem;
	color: var(--text);
	font-size: 0.9rem;
}
.signup-text > span > span > * {
	color: white;
	text-decoration: none;
	cursor: pointer;
	transition: 0.2s linear;
}

.signup-text > span > span > *:hover {
	color: var(--subMain);
}

/* *************************** */

@media (max-width: 900px) {
	.login-container {
		width: 60%;
	}
}

@media (max-width: 480px) {
	.login-container {
		width: 90%;
	}
    .login-brand {
	width: 40%;
}
}
